<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>animation6_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>533</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_2.png</key>
		<dict>
			<key>x</key>
			<integer>29</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_3.png</key>
		<dict>
			<key>x</key>
			<integer>29</integer>
			<key>y</key>
			<integer>39</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_4.png</key>
		<dict>
			<key>x</key>
			<integer>29</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_5.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>951</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>913</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_7.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>875</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_8.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>837</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_9.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>799</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_10.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>761</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_11.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>723</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_12.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>685</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_13.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>647</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_14.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>609</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_15.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>571</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_16.png</key>
		<dict>
			<key>x</key>
			<integer>29</integer>
			<key>y</key>
			<integer>115</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_17.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>495</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_18.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>457</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_19.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>419</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_20.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>381</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_21.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>343</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_22.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>305</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_23.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>267</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_24.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>229</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_25.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_26.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>153</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_27.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>115</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_28.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_29.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>39</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation6_30.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
	</dict>
</dict>
</plist>