<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>animation11_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>541</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>37</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>73</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>109</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_5.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>145</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>181</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_7.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>217</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_8.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>253</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_9.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>289</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_10.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>325</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_11.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>361</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_12.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>397</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_13.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>433</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_14.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>469</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_15.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>505</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_16.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_17.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>577</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_18.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>613</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_19.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>649</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_20.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>685</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_21.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>721</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_22.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>757</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_23.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>793</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_24.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>829</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_25.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>865</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_26.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>901</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_27.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>937</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_28.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>973</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_29.png</key>
		<dict>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation11_30.png</key>
		<dict>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>37</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
	</dict>
</dict>
</plist>