<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>frowny_1.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_2.png</key>
		<dict>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>219</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_3.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_4.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_5.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>790</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_6.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>593</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_7.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_8.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_9.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_10.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_11.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_12.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_13.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_14.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_15.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_16.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_17.png</key>
		<dict>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>818</integer>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>78</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_18.png</key>
		<dict>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>620</integer>
			<key>width</key>
			<integer>267</integer>
			<key>height</key>
			<integer>196</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>77.5</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_19.png</key>
		<dict>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>416</integer>
			<key>width</key>
			<integer>276</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>63.5</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_20.png</key>
		<dict>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>288</integer>
			<key>height</key>
			<integer>215</integer>
			<key>offsetX</key>
			<real>-11</real>
			<key>offsetY</key>
			<real>28</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_21.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>789</integer>
			<key>width</key>
			<integer>292</integer>
			<key>height</key>
			<integer>208</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_22.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>573</integer>
			<key>width</key>
			<integer>300</integer>
			<key>height</key>
			<integer>214</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-55.5</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
		<key>frowny_23.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>306</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>-89</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>353</integer>
		</dict>
	</dict>
</dict>
</plist>