<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>animation10_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>571</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>39</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>115</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_5.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>153</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_7.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>229</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_8.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>267</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_9.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>305</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_10.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>343</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_11.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>381</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_12.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>419</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_13.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>457</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_14.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>495</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_15.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>533</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_16.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_17.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>609</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_18.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>647</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_19.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>685</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_20.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>723</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_21.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>761</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_22.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>799</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_23.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>837</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_24.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>875</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_25.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>913</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_26.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>951</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_27.png</key>
		<dict>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_28.png</key>
		<dict>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>39</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_29.png</key>
		<dict>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>animation10_30.png</key>
		<dict>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>115</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
	</dict>
</dict>
</plist>